/* src/components/CardSelection.css */

.card-selection-container {
    padding-bottom: 20px;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 70vh;
    overflow-y: auto;
}

.card-item {
    margin: 5px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card-item.selected {
    background-color: lightgreen;
}

.card-item img {
    max-width: 100%; 
    height: auto;
}

.submit-button {
    display: block;
    margin: 20px auto;
    padding: 15px 30px; 
    font-size: 18px;
    cursor: pointer;
}

/* Desktop and larger tablets */
@media screen and (min-width: 1024px) {
    .card-item {
        flex-basis: calc(14.28% - 20px); /* 7 items per row */
    }
}

/* Tablets */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .card-item {
        flex-basis: calc(20% - 20px); /* 5 items per row */
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .card-item {
        flex-basis: calc(33.33% - 20px); /* 3 items per row */
    }

    .submit-button {
        padding: 10px 20px; 
        font-size: 16px;
    }
}
