.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-panel {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #ccc;
  height: 100%; /* Take up full height */
}

.right-panel {
  width: 25%;
  padding: 20px;
  overflow-y: auto;
}

p {
  margin: 0.5em 0;
}

a {
  display: block;
  margin-top: 1em;
  text-decoration: none;
  color: blue;
}
